.task-list{
    width: 350px; /* Ancho fijo deseado */
    margin: 0 auto; /* Centrar horizontalmente */
    max-height: 40px;
    text-align: center;
    margin-top: 100px;
}


.noTask{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.task-list ul{
    display: flex; 
    padding: 8px;
    background-color: rgb(114, 114, 114);
    border-color: transparent;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.task-list button{
    background:transparent;
    border-color: transparent;
    align-items: center;
    
}

.buttons{
    margin-left: 2px;
    position:static;
    padding-bottom: 3px;
    padding-top: 3px;
    max-height: 48px;
    
}

.task-list i{
    color: white;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1.5px solid white;
}

.name{
    flex: 1;
    align-self: center;
    overflow-wrap: break-word;
    max-width: 160px; /* Permite que el texto se ajuste en varias líneas */
    text-align: left;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }


  input[type=checkbox]:checked + .name label {
    text-decoration: line-through;
}