body{
    color: white;
    text-align: center;
    position: fixed;
    top: 5%; /* Distancia del 5% desde la parte superior de la ventana */
    left: 5%; /* Distancia del 5% desde el borde izquierdo de la ventana */
    width: 90%; /* Ancho del 90% de la ventana */
    background-color: black;
}

.addTaskInput{
    width: 230px;
    text-align: left;
    border-radius:0cm;
    padding: 15px;
    margin-right: 10px;
    background-color: transparent;
    border-color: transparent;
}

.addTaskButton{
    width: 75px;
    text-align: center;
    justify-content: center;
    border-radius: 0cm;
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    display: grid;
    align-content: center;
    margin-right: 0;
}

.check{
    border: 2px solid white;
    color: white;
    font-size: 32px;
    padding:1px;
}



.addTask{
    background-color: rgb(99, 99, 99);
    border-radius: 3px;
    width: fit-content;
    margin-left: auto; /* Alinear a la derecha */
    margin-right: auto; /* Espacio desde el borde derecho de la ventana */
    top: 10%; /* Distancia del 5% desde la parte superior de la ventana */
    display: flex;
    flex-direction: row;
    max-height: 45px;
}

button{
    cursor: pointer;
}

.task-list{
    width: 350px; /* Ancho fijo deseado */
    margin: 0 auto; /* Centrar horizontalmente */
    max-height: 40px;
}

.task-list button{
    background:transparent;
    border-color: transparent;
    margin-right: 2px;
}

.task-list i{
    border: 2px solid white;
    color: white;
    font-size: 16px;
    padding: 8px;
    
}

.task-list ul{
    display:flex;
    align-items: center;
    border: 2px solid #101010;
    max-width: 100%;
    border-radius: 0px;
    padding: 10px;
    flex-direction: row;
    margin-bottom: 10px;
    margin: 10;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(179, 179, 179);
    border-color: transparent;
}

.task-list label{
    flex:1;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}