.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode button{
  color:white;
}
  


/* Estilos para el tema claro en el body */
.light-mode {
  background-color: #ffffff;
  color: #222222;
}

.light-mode button{
  color:black;
}